<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" content='width=device-width, initial-scale=1' name='viewport'/>
        <style>
            body {
                padding: 25px;
                background-color: white;
                color: black;
                font-size: 25px;
            }
        
            .dark-mode {
                background-color: black;
                color: blanchedalmond;
            }
        </style>
    <title>Edit Rating</title>
</head>

<body class="dark-mode">
    <form action="{{ url_for('edit', book_id=book['id']) }}" method="POST">
        <label>Book Name:</label>
        {{ book["title"] }}<br>
        <label>Current Rating</label>
        {{ book["review"] }}<br>
        <input type="text" name="review">
        <button type="submit"><b>Change Rating</b></button>
    </form>
</body>

</html>